// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1, h3{
    font-family: 'Libre Baskerville', serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100vw !important;
    overflow: visible;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
}




