<h1>My profile</h1>

<h1>My booking</h1>

<%= month_calendar(events: @bookings, attribute: :start_time, end_attribute: :end_time) do |date, bookings| %>
  <%= date %>

  <% bookings.each do |booking| %>
    <div class="booking">
      <p><%= booking.product.name %></p>
    </div>
  <% end %>
<% end %>
