.banner{
  height: 100vh;
  padding: 230px 0;
  
  .row{
    padding: 10px;
    display: block;
  }

  h1,h3{
    position: absolute;
    top: 42rem;
    padding: 0 50px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  h1 {
    color: white;
    font-size: 32px;
    font-weight: bold;
  }
  
  h3 {
    margin-top: 5rem;
    font-size: 20px;
    color: white;
  }
}

.banner, .container{
  scroll-behavior: smooth;
}
