.btn{
    // border-radius: 3px;
    box-shadow: 1px 1px #919191;
    :hover{
        opacity: 1.0;
    }
}

#browse-btn{
    margin-left: 50px;
    position: absolute;
    top: 50rem;
    :hover{
        opacity: 1.0;
    }
}
