.simple-calendar {
  table {
    max-height: 600px;
    min-width: 600px;

  }
  .today {
    background-color: #FAF3DD;
  }
}

.day {
  max-width: 74px;

}

.booking {
  color: white;
  padding: 8px 0px;
  // border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  line-height: 0px;
  margin-bottom: 0px;
}

// .meeting:hover {
//   background: #1BCB7F;
//   color: white;
// }
.booking-profile-calendar {
  color: white;
  // padding: 8px 24px;
  // border-radius: 4px;
  background: #708F8E;
  transition: background 0.3s ease;
  width: auto;
  height:40px;
  text-align: center;
}
.booking-profile-calendar > p {
  font-size: 12px;
    margin-bottom: 0;
}
