#map {
  height: 100vh;
  position: sticky;
  top: 0;
  flex: 80%;
}

.map-product-cards {
  flex-grow: 1;
  margin-left: 10px;
  margin-bottom: 20px;
}

.mapboxgl-popup {
  max-width: 150px;
  border-radius: 4px;
   img {
    width: 100%;
   }
}

.mapboxgl-popup-content {
  text-align: center;
}
