.navbar{
  display: flex;
  transition: background-color 200ms linear;
  background-color: 	#A9A9A9;
  
  // This is the to put every item in the navbar as a flex and have a gap in between
  // each item
  .navbar-expand-lg, .navbar-collapse, .nav-btn-item {
    display: flex !important;
    flex-basis: auto;
    gap: 15px;
  }

  // Removes the bullet points
  .nav-item{
    list-style: none;
  }
  
  // This is the drop down menu for Locations
  #dropdownMenuButton{
    background-color: white !important;
    border: none !important;
    color: inherit;
  }

  #query{
    border-radius: 5px;
    box-shadow: 1px 1px #e7e7e7;
  }
}


