<h1>Product Page</h1>
<%= link_to product_path(@product),
        method: :delete,
        data: { confirm: "Are you sure?" }, class: "btn btn-warning"%>

<%= link_to 'Products', products_path, class: "btn btn-primary" %>
